:root{
    /*Aqui establezco los colores o variables globales*/
    --color-rosado: #ef476f;
    --color-amarillo: #ffd166;
    --color-verde: #06d6a0;
    --color-azulclaro: #118ab2;
    --color-azuloscuro: #073b4c;
    --color-azulcielo: #0068c9;
    --color-negro: #222222;

}

html{ 
	height: 100%;
	width: 100%;
	margin:0;
}

body{ 
    background-color: var(--color-azulclaro);
    width: 100%;
    height: 90%;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Bowlby One SC', cursive;
    padding-top: 1vw;
    color: white;
}

.titulo-header{
    cursor: pointer;
    /*Decoracion variable en el tiempo*/
    /*background: #0269CF;
    background: -webkit-linear-gradient(to bottom, #0269CF 50%, #FFF82E 50%);
    background: -moz-linear-gradient(to bottom, #0269CF 50%, #FFF82E 50%);
    background: linear-gradient(to bottom, #0269CF 50%, #FFF82E 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.contenedor-icono-menu, .contenedor-icono-ayuda {
    cursor: pointer;
}

@media (min-width: 0px) and (max-width: 767px) {
    header {
        height: 2vh;
        font-size: 6vw;
    }

    .contenedor-icono-menu {
        padding-left: 2vw;
    }
    
    .contenedor-icono-ayuda {
        padding-right: 2vw;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {    
    header {
        height: 2vw;
        font-size: 4vw;
        margin-bottom: 9vw;
    }

    .contenedor-icono-menu {
        padding-left: 2vw;
    }
    
    .contenedor-icono-ayuda {
        padding-right: 2vw;
    }
}

@media (min-width: 1024px) {

    header{
        height: 4vw;
        font-size: 2.5vw;
    }
    
    .contenedor-icono-menu{
        padding-left: 1vw;
    }
    
    .contenedor-icono-ayuda{
        padding-right: 1vw;
    }
}
