.cuerpo{
    width: 100%;
    height: 100%;
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

.seccion-nombre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.caras-duelos{ /*Este div solo esta cuando ocurre un duelo, por lo que las caras tienen que estar al lado*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 11vw;
    gap: 3vw;
}

.jugador-cara{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: white;
    background-size: cover;
    border: 2px solid black;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #ff6e90, -10px 10px 15px 7px #FF616B, 6px 6px 15px 2px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #ff6e90, -10px 10px 15px 7px #FF616B, 6px 6px 15px 2px rgba(0,0,0,0);
}

.seccion-texto{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 2.5vw; 
    min-height: 10vw;
    /* hyphens: auto; */
}

.seccion-respuestas {
    width: 80%;
    margin-top: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: 500;
    font-style: italic;
    display: block;
}

.respuesta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-respuestas .respuesta-container {
    border-radius: 0.5vw;
    background-color: #838383;
    color: #838383;
}

.respuesta-descubierta .respuesta-container {
    background-color: transparent;
    color: white;
}

.respuesta-container::after {
    content: "Haz click para descubrir la respuesta";
    color: white;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 40%; /* Need a specific value to work */
    text-align: center;
}

.respuesta-descubierta .respuesta-container::after {
    content: "";
}

@media (min-width: 0px) and (max-width: 767px) {
    .cuerpo {
        margin-top: 4vh;
    }

    .caras-duelos{ /*Este div solo esta cuando ocurre un duelo, por lo que las caras tienen que estar al lado*/
        gap: 5vw;
    }

    .seccion-texto{
        font-size: 3vh; 
        min-height: 15vw;
    }

    .jugador-cara{
        width: 15vw;
        height: 15vw;
    }

    .seccion-respuestas {
        font-size: 4vw;
    }

    .seccion-respuestas .respuesta-container {
        border-radius: 1.5vw;
    }

    .respuesta-container::after {
        font-size: 4vw;
        width: 80%;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {    
    .cuerpo {
        margin-top: 1vh;
    }

    .caras-duelos{ /*Este div solo esta cuando ocurre un duelo, por lo que las caras tienen que estar al lado*/
        gap: 5vw;
    }

    .seccion-texto{
        font-size: 4.2vw; 
        min-height: 15vw;
    }

    .jugador-cara{
        width: 15vw;
        height: 15vw;
    }

    .seccion-respuestas {
        font-size: 4vw;
    }

    .seccion-respuestas .respuesta-container {
        border-radius: 1.5vw;
    }

    .respuesta-container::after {
        font-size: 4vw;
        width: 80%;
    }
}