.menu-lateral, .menu-items{
    height: 100%;
    width: 0; /*Lo cambiaremos con Javascript para hacer que aparezca*/
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1; /*Mirar si me interesa mas*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;/*Eliminamos el scroll horizontal*/
    padding-top: 1vw;
    transition: 0.5s;
}

.menu-lateral a{
    padding: 2.5vw 0.5vw 0.5vw 1.5vw;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.menu-lateral a:hover{
    color: #118ab2;
}

.menu-lateral-titulo {
    color: var(--color-azulclaro);
}

.menu-lateral .closebtn {
/*     position: absolute;
    top: 0;
    color: var(--color-rosado);
    right: 0.5vw;
    margin-left: 1vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2vw;
}

.menu-lateral .closebtn:hover{
    color: var(--color-rosado);
}

/*ITEMS MENU*/
.item-menu-opener {
    width: 11.4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
    background-color: rgb(68, 68, 68);
    font-size: 2vw;
    color: white;
    font-weight: 600;
    border-radius: 0 1vw 1vw 0;
    padding: 1vw;
    cursor: pointer;
}

.item-menu-opener-text {
    font-family: 'Poppins', sans-serif;
}

.menu-items {
    /*el width y el padding se lo ponemos desde el .js*/
    top: 6vh;
    height: 20vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
    border-radius: 0 1vw 1vw 0;
}

.menu-items img{
    width: 6.8vw;
}

.dice-shaking {
    animation: shake .4s infinite ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

.items-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    margin: 1vh 0 0 2vw;
}

.items-menu-closer {
    width: 4vw;
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 0.2vw;
    border-radius: 50%;
    font-size: 3vw;
    background-color: rgb(75, 75, 75);
    color: white;
    cursor: pointer;
}

.dice-roll-btn {
    background-color: white;
    color: black;
    padding: .7vw;
    border-radius: .4vw;
    font-size: 1.5vw;
}
/*ITEMS MENU*/

@media (min-width: 0px) and (max-width: 768px) {
    .menu-lateral a, .menu-lateral .closebtn {
        font-size: 3vw;
    }

    .item-menu-opener {
        width: 20vw;
        margin-top: 4vh;
        column-gap: 1vw;
        font-size: 3.2vw;
        border-radius: 0 1vw 1vw 0;
        padding: 1vw;
    }

    .menu-items {
        /*el width y el padding se lo ponemos desde el .js*/
        height: 20vh;
        column-gap: 1vw;
        border-radius: 0 1vw 1vw 0;
    }

    .menu-items img {
        width: 13vw;
    } 

    .dice-roll-btn {
        padding: .7vw;
        border-radius: .4vw;
        font-size: 3vw;
    }

    .items-menu-closer {
        width: 6vw;
        height: 6vw;
        padding-right: 0.2vw;
        border-radius: 50%;
        font-size: 4vw;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .menu-lateral a, .menu-lateral .closebtn {
        font-size: 2.5vh;
    }

    .item-menu-opener {
        width: 20vw;
        margin-top: 4vh;
        column-gap: 1vw;
        font-size: 3.2vw;
        border-radius: 0 1vw 1vw 0;
        padding: 1vw;
    }

    .menu-items {
        /*el width y el padding se lo ponemos desde el .js*/
        height: 20vh;
        column-gap: 1vw;
        border-radius: 0 1vw 1vw 0;
    }

    .menu-items img {
        width: 12vw;
    } 

    .dice-roll-btn {
        padding: .7vw;
        border-radius: .4vw;
        font-size: 2.8vw;
    }

    .items-menu-closer {
        width: 6vw;
        height: 6vw;
        padding-right: 0.2vw;
        border-radius: 50%;
        font-size: 4vw;
    }
}